.address {
    color: var(--ccolor-withe);
    
  }
  .address-list {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .address-list .item {
    margin-bottom: 9px;
  }

  .address-list .item:last-child{
    margin-bottom: 0px;
  }
  
  .address:hover,
  .address:focus {
    color: var(--accent-color);
  }
  
  .address-list .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .address-list .link:hover,
  .address-list .link:focus {
    color: var(--accent-color);
  }
  