.hero {
  margin-left: auto;
  margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imige/backgroundImg.jpg);
  
    height: 600px;
    width: 1600px;
   
    &__title {
      padding-top: 200px;
      margin-top: 0px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    
      width: 696px;
      color: var(--ccolor-withe);
      text-align: center;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
  
  