.comand .soc-list {
    display: flex;
    justify-content: center;
   
  }
  
  
  
  .comand .soc-list .soc-item + .soc-item {
    margin-left: 10px;
  }
  
  .comand .soc-link{
    display: block;
    padding: 12px ;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubick);
   
  
  }
  
  .comand .soc-list .soc-icon { 
    display: block;
    width: 20px;
    height: 20px;
  
   fill: #afb1b8;
   
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: var(--cubick);
  }
  
  .comand .soc-link:hover .soc-icon,
  .comand .soc-link:focus .soc-icon{
    fill: var(--ccolor-withe);
  }
  
  .comand .soc-link:hover,.comand .soc-link:focus{
    background-color: var(--accent-color)
    
  }